@import '@/assets/style.module.scss';
@import '@/layout/theme/common.scss';
.logo-main {
	height: 60px;
	display: flex;
	position: relative;
	justify-content: center;
	.project-logo {
		display: flex;
		height: theme(logo_height);
		position: absolute;
	}
}
.el-menu-vertical-demo {
	border-right: unset;
	min-height: calc(100vh - 120px);

	&:not(.el-menu--collapse) {
		width: theme(aside_width);
	}
}

.el-scrollbar.submenu-main {
	@extend %centent-scrollbar;
}

.logoTransition-enter-active {
	transition: all 0.3s;
}

.logoTransition-enter-from {
	width: 64px;
}
.logoTransition-enter-to {
	width: theme(aside_width);
}
.logoTransition-leave-active {
	transition: all 0.3s;
}

.logoTransition-leave-from {
	width: theme(aside_width);
}
.logoTransition-leave-to {
	width: 64px;
}
.el-menu,
.el-menu-item,
.el-sub-menu,
.el-sub-menu__title {
	background-color: transparent;
	--el-menu-level: 0;
	--el-menu-active-color: var(--el-color-primary) !important;
	--el-menu-text-color: var(--el-text-color-primary) !important;
	--el-menu-hover-text-color: var(--el-color-primary) !important;
	--el-menu-bg-color: var(--el-fill-color-blank) !important;
	--el-menu-hover-bg-color: var(--el-color-primary-light-9) !important;
}
