@import '@/assets/style.module.scss';
@import '@/layout/theme/common.scss';
.logo-main {
	height: 60px;
	display: flex;
	position: relative;
	padding-left: 20px;
	align-items: center;
	b {
		opacity: 0;
	}
	.project-logo {
		display: flex;
		height: theme(logo_height);
		position: absolute;
		transition: width 0.3s;
		align-items: center;
		overflow: hidden;
		text-wrap: nowrap;
		b {
			opacity: 1;
		}
	}
}
.el-menu-vertical-demo {
	border-right: unset;
	min-height: calc(100vh - 180px);

	&:not(.el-menu--collapse) {
		width: theme(aside_width);
	}
}

.el-scrollbar.submenu-main {
	@extend %centent-scrollbar;
}

// .logoTransition-enter-from {
// 	width: 64px;
// 	opacity: 0;
// }
// .logoTransition-enter-active {
// 	transition: opactiy 0.3s ease-out;
// }

// .logoTransition-enter-to {
// 	width: theme(aside_width);
// 	opacity: 1;
// }

// .logoTransition-leave-from {
// 	width: theme(aside_width);
// 	opacity: 0;
// }
// .logoTransition-leave-active {
// 	transition: opactiy 1.3s ease;
// }
// .logoTransition-leave-to {
// 	width: 64px;
// 	opacity: 0;
// }
